/*クラス名が被らないようにクラス名の後ろに自分のイニシャル書いてね　例）css_ft など*/



/*メッセージ一覧*/
.message_nh{
    text-align: center;
    margin-top: 30px;
}

.meinline_nh{
    height: 5px;
    color: #7dcfff;
    background-color: #7dcfff;
    margin-top: 30px;
}

.subline_nh{
    height: 3px;
    color: #7dcfff;
    background-color: #7dcfff;
    margin-top: 25px;
    margin-bottom: 20px;
}

#icon_circle_nh{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: #7dcfff;
}

#notice_circle_nh{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: #7dcfff;
    margin-left: 265px;
    margin-top: -20px;
}

#message-name_nh{
    margin-top: -50px;
    margin-left: 80px;   
}

.radio-btn_nh{
    display: none;
}




/*新規投稿作成画面*/
.newpost_text_nh{
    width: 90%;
    border: none;
    margin-left: 20px;
}

#new-postphoto_nh{
    width: 100px;
    height: 100px;
    border-radius: 15%;
    margin-left: 30px;
    background: #b8b8b8;
}

#photoadd_nh{
    width: 45px;
    height: 45px;
    border-radius: 15%;
    margin-left: 10px;
    margin-top: -5px;
    background: #7dcfff;
}

.cancelbtn_nh{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    margin-left: 10px;
    font-weight: bold;
}

.postbtn_nh{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    margin-left: 70px;
    font-weight: bold;
}

/* input隠す */
.upload-label_nh input {
    display: none;
}

/*addアイコンに変更*/
#upload-photo_nh{
    background: url("../img/photoadd.png")center center/contain no-repeat;
    width: 110px;
    height: 110px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: -35px;
}
/*投稿詳細画面の戻るボタン*/
.back_nh{
    width: px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #7dcfff;
    background: #fff;
    margin-left: 10px;
    font-weight: bold;
}


/*選択した画像の並び*/
#image_preview{
    display: flex;
    /*flex-wrap: wrap; /* 画像が横に並びすぎたらしたに折り返す */
    overflow: scroll;
}

/*選択された画像の大きさ、間隔*/
#image_preview img {
    width: 100px; /* 幅を100pxに設定 */
    height: 100px;
    margin: 5px; 
}

/*新規投稿の太い線*/
.newpost-meinline_nh{
    margin-bottom: -10px;
    height: 5px;
    color: #7dcfff;
    background-color: #7dcfff;
}




/*投稿詳細画面*/
.postphoto-big_nh{
    width: 350px;
    height: 350px;
    border-radius: 10%;
    margin-left: 25px;
    background: #b8b8b8;
}

#good_nh{
    margin-left: 60px;
    margin-top: 10px;
    font-size: 20px;
}

.savebtn_nh{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #7dcfff;
    background: #fff;
    margin-left: 100px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 23px;
}

.posttext_nh{
    margin-left: 30px;
}

.comment-nh{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#post-icon_circle_nh{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: -10px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: #7dcfff; 
}

#icon_circle-min_nh{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: #7dcfff;
}

#coment-name_nh{
    margin-top: 25px;
}

.post-coment_nh{
    text-align: center;
}

.postdetails-line_nh{
    border-bottom: solid 5px #3e3e3e;
    margin-top: 0px;
    width: 400px;
}

.comment-send_nh{
    width: 100%;
    margin-left: -10px;
    border-width: 3px;
    margin-top: 5px;
    border-color: #7dcfff;
    border-radius: 10px;
    outline: none;
}

.sendbtn_nh{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    margin-top: 5px;
    margin-left: -20px;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 80px;
    top: 0;
    width: 60%;
    height: 40%;/*0にしていいよ
    background-color: rgba(255, 0, 0, 0.5); /* オーバーレイの背景色と透明度 */
  }

  /* モーダルウィンドウの中身のスタイル */
  .modal-content {
    background-color: #7dcfff;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  /* 閉じるボタンのスタイル */
  .close {
    display: none;
  }

  .modal_nh{
    margin-top: 10px;
  }









/*プロフィール画面*/
#profile-icon_circle_nh{
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    background: #7dcfff;
}

#user-id_nh{
    margin-left: 50px;
    margin-top: 45px;
}

.pfofile-editing-btn_nh{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: #FFF;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 40px;
}

#follower_nh{
    margin-left: 100px;
    margin-top: 10px;
    font-weight: bold;
}

#follow_nh{
    margin-left: 30px;
    margin-top: 10px;
    font-weight: bold;
}


#user-name_nh{
   margin-top: 10px;
   margin-left: 20px;
   font-weight: bold;
}

.profile-self-introduction_nh{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#follower-text_nh{
    margin-left: 85px;
    font-size: 12px;
}

#follow-text_nh{
    margin-left: 25px;
    font-size: 12px;
}

#postphoto_nh{
    width: 120px;
    height: 120px;
    border-radius: 10%;
    margin-left: 13px;
    margin-bottom: 10px;
    background: #b8b8b8;
}

.tab_nh {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tab_nh li a {
    height: 30px;
    width: 180px;
    display: block;
    background-color: #7dcfff;
  
    /*  margin:0 2px;
    padding:10px 20px;
    */
  }
  
  
  
  /*========= レイアウトのためのCSS ===============*/
  
  /*・投稿の"・"を消す*/
  .ul_nh ul {
    list-style: none;
    margin-bottom: 5px;
  }
  /*投稿、保存の位置調整*/
  .middll-post_nh{
    width: 80px;
    margin-left: -20px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-weight: bold;
  }

  .middll-save_nh{
    border-radius: 5px;
    border: none;
    font-weight: bold;
  }


  .profile-line_nh{
    margin-top: -10px;
    height: 2px;
    background-color: #000000;
    border: none;
  }









/*他人プロフィール*/
#another-follow_nh{
    margin-top: 80px;
    margin-left: 20px;
    font-weight: bold;
}

#another-follow-text_nh{
    margin-left: 15px;
    font-size: 12px;
}

.profile-line_nh{
    margin-top: 10px;
}

.Parsonal-chat_nh{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 8px;
}

.follow-btn_nh{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #FFF;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 8px;
}