/*クラス名が被らないように名前の後ろに自分のイニシャル書いてね　例）css_ft など*/

/*01ログイン*/
.login_margin_top_ys{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 250px;
}
@media (min-width: 1200px) {
    .login_margin_top_ys{
        text-align: center;
        margin-bottom: 50px;
        margin-top: 220px;
    }
}

.input_login_ys{
    margin-left: 80px;
    margin-bottom: 10px;
    width: 60%;
    border-width: 3px;
    border-color: #7dcfff;
    border-radius: 10px;
    outline: none;
}
@media (min-width: 1200px) {
    .input_login_ys{
        margin:auto;
        margin-bottom: 20px;
        width: 55%;
        height: 50px;
        border-width: 3px;
        border-color: #7dcfff;
        border-radius: 10px;
        outline: none;
    }
}

.login-btn_ys{
    width: 60%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #7dcfff;
    border: none;
    border-radius: 15px;
}
@media (min-width: 1200px) {
    .login-btn_ys{
        width: 55%;
        height: 50px;
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 15px;
        color: #fff;
        background-color: #7dcfff;
        border: none;
        border-radius: 15px;
    }
}

.login_atag_ys{
    text-decoration: none;
}
/*03ホーム*/
.img_setting_ys{
    text-align: center;
}

.img_button_ys{
    border: none;
}

.another_person_message_ys{
    text-align: left;
    margin-left: 20px;
    max-width: 300px;
    background-color: #7dcfff;
    display: inline-block;
}

.my_message_ys{
    max-width: 300px;
    background-color: #7dcfff;
    display: inline-block;
}

.my_message_ys p{
    text-align: left;
}

/*10*/
.seach-items {
    width: 110px;
    height: 110px;
    border-radius: 10%;
    margin-left: 13px;
    background: #b8b8b8;
    background-position: center;/*背景画像の位置を中央に*/
    padding:0px;
  }
  
  .seach-items img { 
    max-width: 110px;
    max-height: 110px;
    border-radius: 10%;
    border: none; 
    background-color: transparent;
    display: block;
    margin:auto;
  }

  .seach_detail_ys{
    position: absolute; 
    
    z-index: 1;
    width: 110px;
    height: 110px;
    opacity:0;
  }