/*クラス名が被らないように名前の後ろに自分のイニシャル書いてね　例）css_ft など*/
/*01ログイン*/
.login_margin_top_ys{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 250px;
}

.input_login_ys{
    margin-left: 80px;
    margin-bottom: 10px;
    width: 60%;
    border-width: 3px;
    border-color: #7dcfff;
    border-radius: 10px;
    outline: none;
}

.login-btn_ys{
    width: 60%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #fff;
    background-color: #7dcfff;
    border: none;
    border-radius: 15px;
    
}

.login_atag_ys{
    text-decoration: none;
}
/*03ホーム*/
.img_setting_ys{
    text-align: center;
}

.img_button_ys{
    border: none;
}

.another_person_message_ys{
    text-align: left;
    margin-left: 20px;
    max-width: 300px;
    background-color: #7dcfff;
    display: inline-block;
}

.my_message_ys{
    max-width: 300px;
    background-color: #7dcfff;
    display: inline-block;
}

.my_message_ys p{
    text-align: left;
}

/*04投稿詳細*/

.submit_detail_ys{
    position: fixed;
    bottom : 0;
    background-color: white;
}

